<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- bean설정파일에 bean추가 -->
	<!-- lazy-init="true": 객체가 컨테이너 구동시 생성되지 않고 호출시 생성됨 -->
	<!-- scope default는 singleton -->
	<!-- namespace p 사용 -->
	<bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" destroy-method="destroyMethod" lazy-init="true" scope="singleton" p:speaker-ref="apple" p:price="270000">
	<!-- constructor injection 사용 -->
		<!-- <constructor-arg index="0" ref="sony"></constructor-arg> -->
		<!-- <constructor-arg index="0" ref="apple"></constructor-arg> -->
		<!-- <constructor-arg index="1" value="27000000"></constructor-arg> -->
		<!-- setter injection 사용 -->
		<!-- <property name="speaker" ref="apple"></property>
		<property name="price" value="2700000"></property> -->
		<!--index는 0부터 시작-->
	</bean>
	<bean id="sony" class="polymorphism.SonySpeaker" lazy-init="true"></bean>
	<bean id="apple" class="polymorphism.AppleSpeaker" lazy-init="true"></bean>
	<!-- list타입 bean -->
	<bean id="collectionBean" class="ioc.injection.CollectionBean">
		<property name="address">
			<list>
				<value>서울특별시 종로구 삼일대로</value>
				<value>서울특별시 중구 퇴계로</value>
				<value>서울특별시 강남구 테헤란로</value>
			</list>
		</property>
	</bean>
	<!-- set타입 bean -->
	<bean id="setBean" class="ioc.injection.SetBean">
		<property name="address">
			<set value-type="java.lang.String">
				<value>서울시 강남구 역삼동</value>
				<value>서울시 성동구 행당동</value>
				<value>서울시 성동구 성수동</value>
			</set>
		</property>
	</bean>
	<!-- Map타입 bean -->
	<bean id="mapBean" class="ioc.injection.MapBean">
		<property name="address">
			<map>
				<entry>
					<key><value>고길동</value></key>
					<value>서울특별시 도봉구 쌍문동</value>
				</entry>
				<entry>
					<key><value>마이콜</value></key>
					<value>고길동씨집 옆집</value>
				</entry>
			</map>
		</property>
	</bean>
	<!-- properties타입 bean -->
	<bean id="propertyBean" class="ioc.injection.PropertyBean">
		<property name="address">
			<props>
				<prop key="고길동">서울특별시 도봉구 쌍문동</prop>
				<prop key="마이콜">고길동 옆집</prop>
			</props>
		</property>
	</bean>
</beans>
